[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
flake8 = "*"
django-allauth = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
crispy-bootstrap4 = "*"
whitenoise = "*"
gunicorn = "*"
drf-spectacular = "*"

[dev-packages]

[requires]
python_version = "3.10"
