{% extends 'base.html' %}
{% block title %}
     Bookmarks
{% endblock %}

{% block body %}
{% for bookmark in bookmarks %}
<div class="box">
    <h3 id="title_{{ bookmark.pk }}">{{ bookmark.title }}</h3>
    <p id="url_{{ bookmark.pk }}">{{ bookmark.url }}</p>
    <div class="options">
        <a href="{{ bookmark.url }}" target="_blank">Open</a>
        <a href="{% url 'edit_bookmark' bookmark.pk %}">Edit</a>
        <a href="{% url 'delete_bookmark' bookmark.pk %}">Delete</a>
    </div>
{% endfor %}
{% endblock %}