{% extends "base.html" %}

{% block title %}
    Search results | Bookmark
{% endblock %}

{% block body %}
    {% for result in results %}
            <div class="box"> 
                <h3 id="title_{{ result.pk }}">{{ result.title }}</h3>
                <p id="url_{{ result.pk }}">{{ result.url }}</p>
                <div class="options">
                    <a href="{{ result.url }}" target="_blank">Open</a>
                </div>
            </div>
        {% empty %}
            <h1>No result</h1>
    {% endfor %}
{% endblock %}